//- head    
//-     include includes/head
//-     script(type="module" src="js/createVanFunctions.js" defer)

//- body
//-     a(href='/admin')
//-         button
//-             i.fa-sharp.fa-solid.fa-left-long
//-             span.knap Tilbage


//-     div#div-create-van
//-     div
//-         h2 Opret vogn

//-     div 
//-         label(for="input-vanNumber") Vogn nummer:
//-         span
//-             input#input-van-nr.input-vanOwner(type="text" name="vanNumber")
//-             p#p-err-van-nr(style='color:red')

//-         label(for="input-licensePlate") Registreringsnummer:
//-         span
//-             input#input-licensePlate.input-vanLicensePlate(type="text" name="licensePlate")
//-             p#p-err-licensePlate(style='color:red')
//-     div
//-         p#p-error-messege(style="color:red")
//-     button(id="button-create-van" class="button-create") 
//-         i.fa-solid.fa-truck-front
//-         span.knap Opret vogn


head
    include includes/head
    script(type="module" src="js/createVanFunctions.js" defer)

body
    a(href='/admin')
        button
            i.fa-sharp.fa-solid.fa-left-long
            span.knap Tilbage

    div#div-create-van
        div
            h2 Opret vogn

        form(id="form-create-van")
            div
                label(for="input-vanNumber") Vogn nummer:
                span
                    input#input-van-nr.input-vanOwner(type="text" name="vanNumber")
                    p#p-err-van-nr(style='color:red')

                label(for="input-licensePlate") Registreringsnummer:
                span
                    input#input-licensePlate.input-vanLicensePlate(type="text" name="licensePlate")
                    p#p-err-licensePlate(style='color:red')
            div
                p#p-error-messege(style="color:red")
            button(type="submit" id="button-create-van" class="button-create")
                i.fa-solid.fa-truck-front
                span.knap Opret vogn

script.
    const form = document.getElementById('form-create-van');
    const vanNrInput = document.getElementById('input-van-nr');
    const licensePlateInput = document.getElementById('input-licensePlate');
    const errorVanNr = document.getElementById('p-err-van-nr');
    const errorLicensePlate = document.getElementById('p-err-licensePlate');
    const errorMessage = document.getElementById('p-error-messege');

    form.addEventListener('submit', validateForm);

    function validateForm(event) {
        event.preventDefault();
    
        const vanNrValue = vanNrInput.value.trim();
        const licensePlateValue = licensePlateInput.value.trim();
    
        if (vanNrValue === '') {
            alert('Udfyld venligst vogn nummer.');
            return;
        }
    
        if (licensePlateValue === '') {
            alert('Udfyld venligst registreringsnummer.');
            return;
        }

        // Nulstil fejlmeddelelser, hvis alle felter er udfyldt
        errorVanNr.textContent = '';
        errorLicensePlate.textContent = '';
        errorMessage.textContent = '';

        // Send formular til serveren
        form.submit();
    }