
meta(charset = "UTF-8")
link(rel="stylesheet", href="css/styles.css")
title= "Lagerstyring"
script(type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js")
script(nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js")
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />